# Xcode
build/
DerivedData/
*.xcuserdata
*.xcworkspace/xcuserdata/
*.xcworkspace/contents.xcworkspacedata

# macOS
.DS_Store
.AppleDouble
*.DS_Store

# Swift Package Manager
.build/
Packages/
Package.resolved

# CocoaPods
Pods/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Archives
*.ipa
*.dSYM.zip
*.dSYM
